@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 222 47% 11%;
  --foreground: 210 40% 98%;
  --card: 222 47% 15%;
  --card-foreground: 210 40% 98%;
  --popover: 222 47% 15%;
  --popover-foreground: 210 40% 98%;
  --primary: 153 71% 59%;
  --primary-foreground: 222 47% 11%;
  --secondary: 222 47% 20%;
  --secondary-foreground: 210 40% 96%;
  --muted: 222 47% 25%;
  --muted-foreground: 215 20.2% 65.1%;
  --accent: 153 71% 59%;
  --accent-foreground: 222 47% 11%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 210 40% 98%;
  --border: 222 47% 25%;
  --input: 222 47% 25%;
  --ring: 153 71% 59%;
  --radius: 0.75rem;
}

body {
  @apply bg-background text-foreground antialiased;
}

* {
  @apply border-border;
}

a {
  @apply text-primary hover:underline;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: hsl(var(--background));
}

::-webkit-scrollbar-thumb {
  background-color: hsl(var(--secondary));
  border-radius: 9999px;
  border: 3px solid hsl(var(--background));
}
